/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "style-extra/buttons.css";
@import "style-extra/grid.css";
@import "style-extra/form.css";
:root{
    --color-black: #232323;
    --color-white-smoke: #f1f1f1;
    /*--color-grey: #9e9e9e;*/
    --color-red: #c3363b;
    --color-white: #fffeec;
    --color-blue: #45b3e0;
    --color-default: #232323;
    --font-size: 1.2rem;

    /*RESPONSIVE SIZES (Not working with media queries) */
    --media_XS:         20em; /* Extra Small Devices               320px    */
    --media_S:          30em; /* Small Devices, Phones             480px    */
    --media_M:          48em; /* Medium Devices, Tablets           768px    */
    --media_L:          62em; /* Large Devices, Desktops           992px    */
    --media_XL:         80em; /* Extra Large Devices, Wide Screens 1280px   */

    /*OTHER VARIABLES*/
    --border-radius:    1rem;
    --font-size-text:   1rem;
    --font-family-text: 'Open Sans', sans-serif;
}

p, span, li{
    color: var(--color-black);
    font-size: var(--font-size);
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}


html, body { height: 100%;}
body {margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.userProfile{
    width:  50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
}


.centerError{
    position: absolute;
    width: 300px;
    height: 100px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
}
.rotate {
    -webkit-animation: spin 4s infinite linear;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.icon-size {
    cursor: pointer;
    font-size: 50px;
    width: 50px;
    height: 50px;
    color: white;
}
.uploadIcon{
    animation: MoveUpDown 3s linear infinite;
    position: relative;
    font-size: 25px;
}
@keyframes MoveUpDown {
    0%, 100% {
        bottom: 0;
    }
    50% {
        bottom: 25px;
    }
}
