<!--&lt;!&ndash; Contact section &ndash;&gt;-->

<!--<section id="contact-section">-->
<!--  <div class="container">-->

<!--    <h2>Contact Us</h2>-->
<!--    <p>Stuur ons een email, zodat u op de hoogte blijft over onze laatste updates</p>-->


<!--    <div class="contact-form">-->

<!--      <div class="col-md-8">-->
<!--        <div class="border_radius">-->
<!--          <mat-icon class="icon-style align-middle">location_on</mat-icon>-->
<!--        </div>-->
<!--        <span class="form-info"> Wibautstraat 2-4 | 1091 GM Amsterdam</span>-->

<!--        <div class="border_radius">-->
<!--          <mat-icon class="icon-style align-middle">phone</mat-icon>-->
<!--        </div>-->
<!--        <span class="form-info">0648611177</span>-->

<!--        <div class="border_radius">-->
<!--          <mat-icon class="icon-style align-middle">email</mat-icon>-->
<!--        </div>-->
<!--        <span class="form-info">digitalLife5info@gmail.com</span>-->

<!--        <button class="submit">-->
<!--          <a href="mailto:digitalLife5info@gmail.com?Subject=Vul hier uw onderwerp in" class="link">-->
<!--            Neem contact op</a>-->
<!--        </button>-->

<!--      </div>-->

<!--&lt;!&ndash;      <form>&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="text" placeholder="Uw naam" required>&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="text" placeholder="Uw achternaam" required><br>&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="text" placeholder="e-mailadres" required><br>&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="text" placeholder="Onderwerp" required><br>&ndash;&gt;-->
<!--&lt;!&ndash;        <textarea name="message" placeholder="Bericht" rows="5" required></textarea><br>&ndash;&gt;-->

<!--&lt;!&ndash;        &ndash;&gt;-->


<!--&lt;!&ndash;      </form>&ndash;&gt;-->


<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- contact section -->
<section id="contact-section">
  <div class="container">
    <h2>Contact Us</h2>
    <p>Stuur ons een email, zodat u op de hoogte blijft over onze laatste updates</p>
    <div class="contact-form">

        <i class="fa fa-map-marker"></i><span class="form-info"> Wibautstraat 2-4 | 1091 GM Amsterdam</span><br>
        <i class="fa fa-phone"> </i><span class="form-info">+31 648611177</span><br>
        <i class="fa fa-envelope"></i><span class="form-info">digitalLife5info@gmail.com</span><br>

        <button class="submit">
          <a href="mailto:digitalLife5info@gmail.com?Subject=Vul hier uw onderwerp in" class="link">
            Neem contact op</a>
        </button>

    </div>
  </div>
</section>

