<!-- Contact section -->

<section id="contact-section">
  <div class="container">

    <h2>Contact Us</h2>
    <p>Stuur ons een email, zodat u op de hoogte blijft over onze laatste updates</p>


    <div class="contact-form">

      <div>
        <div class="border_radius">
          <mat-icon class="icon-style align-middle">location_on</mat-icon>
        </div>
        <span class="form-info"> Wibautstraat 2-4 | 1091 GM Amsterdam</span>

        <div class="border_radius">
          <mat-icon class="icon-style align-middle">phone</mat-icon>
        </div>
        <span class="form-info"> Wibautstraat 2-4 | 1091 GM Amsterdam</span>
        <div class="border_radius">

          <mat-icon class="icon-style align-middle">email</mat-icon>
        </div>
        <span class="form-info"> Wibautstraat 2-4 | 1091 GM Amsterdam</span>

      </div>

      <form>
        <input type="text" placeholder="Uw naam" required>
        <input type="text" placeholder="Uw achternaam" required><br>
        <input type="text" placeholder="e-mailadres" required><br>
        <input type="text" placeholder="Onderwerp" required><br>
        <textarea name="message" placeholder="Bericht" rows="5" required></textarea><br>
        <button class="submit"> Verzend bericht</button>
      </form>


    </div>
  </div>
</section>


