.wrapper{
    max-width: 80%;
    margin: auto;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.container{
    display: grid;
    grid-gap: 1rem;
    margin-bottom: 2rem;
}




.account-completion{
    display: grid;
    grid-template-columns: 150px auto;
    align-items: center;
}


.grid{
    margin-bottom: 2rem;
}

.grid img{
    width: 100%;
}

.grid--quarter{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.grid--third{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.grid--half{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}


.gallery--grid {
    display: grid;
    justify-content: center;
    grid-column-gap: 1rem;
    grid-row-gap: 3rem;
    grid-template-columns: repeat( auto-fit, 150px);
}

.gallery__img{
    transition: box-shadow .2s ease;
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
    box-shadow: 3px 3px 7px 1px rgba(0,0,0,0.22);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.flex-container{
    display: inline-block;
}

@media only screen and (max-width: 62em){
    .wrapper{
        max-width: 100%;
        padding: 2rem;
    }
}

@media only screen and (max-width: 48em){
    .wrapper{
        padding: 1rem;
    }
}
@media only screen and (max-width: 48em){
    .grid--post{
        grid-template-columns: 1fr;
        height: auto;
    }
}
@media only screen and (max-width: 48em){
    .grid--half{
        grid-template-columns: 1fr;
    }
}
@media only screen and (max-width: 48em){
    .account-completion{
        grid-template-columns: 1fr;
    }
}
@media only screen and (max-width: 48em){
    .container-activity-thumbnails{
        grid-template-columns: 1fr;
    }
}
