
<div id="alert-speech" class="alert alert-danger centerError" style="display: none">
    <mat-icon class="error align-middle">error</mat-icon>
    Onze spraakherkenning wordt niet ondersteund door uw browser</div>

<nav class="navbar navbar-expand-lg navbar-dark default-color">



    <h2 class="brand">Dagje uit</h2>
    <!--        </div>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
            aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ml-lg-5" id="navbarSupportedContent-333">
        <ul class="navbar-nav mr-auto align-items-center">


            <li class="nav-item active">
                <a class="nav-link button--primary" routerLink="/home">
                    <mat-icon class="icon-size">home</mat-icon>
                    <span class="nav-icon-text">Home</span>
                </a>
            </li>

            <li class="nav-item active">
                <a class="nav-link button--primary align-middle">
                    <mat-icon class="icon-size mic-icon"
                              (click)="checkIfBrowserSupportSpeech()">mic
                        <p class="rec" *ngIf="speechService.isListening"></p>
                    </mat-icon>
                    <span class="nav-icon-text">Spraak</span>
                </a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link  nav-item active button--primary" id="navbarDropdownMenu" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <mat-icon class="icon-size">brush</mat-icon>
                    <span class="nav-icon-text">Kleuren</span>
                </a>
                <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenu">
                    <a class="dropdown-item button--primary" (click)="speechService.reactOnCommand('rood')">Rood<span class="red-color color-icon"></span></a>
                    <a class="dropdown-item button--primary" (click)="speechService.reactOnCommand('groen')">Groen<span class="green-color color-icon"></span> </a>
                    <a class="dropdown-item button--primary" (click)="speechService.reactOnCommand('zwart')">Zwart<span class="black-color color-icon"></span> </a>
                    <a class="dropdown-item button--primary" (click)="speechService.reactOnCommand('blauw')">Blauw<span class="blue-color color-icon"></span> </a>
                </div>
            </li>

            <li class="nav-item active text-font-change-size">
                <a class="nav-link button--primary">
                    <mat-icon class="icon-size">text_fields</mat-icon>
                    <span class="nav-icon-text">Text</span>
                </a>
                <div class="text-center p-0 m-0 icons-plus-minus">
                    <mat-icon class="icon-font" (click)="maximizeFontSize()">add_box</mat-icon>
                    <mat-icon class="icon-font" (click)="minimizeFontSize()">indeterminate_check_box</mat-icon>
                </div>

            </li>

            <li *ngIf="authenticateService.isLoggedIn && authenticateService.loggedInUser.admin" class="nav-item active">
                <a class="nav-link button--primary" routerLink="/admin">
                    <mat-icon class="icon-size">admin_panel_settings</mat-icon>
                    <span class="nav-icon-text">Admin</span>
                </a>
            </li>

        </ul>

        <ul class="navbar-nav ml-auto nav-flex-icons align-items-center">


            <li *ngIf="authenticateService.isLoggedIn" class="nav-item">
                <a class="nav-link text-white button--primary" routerLink="/activityOverview">Alle Activiteiten</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white button--primary" id="contactUs" routerLink="/contactUs">Contact</a>
            </li>
            <li *ngIf="authenticateService.isLoggedIn" class="nav-item">
                <a class="nav-link text-white button--primary" routerLink="/matching">Matching</a>
            </li>


            <li *ngIf="authenticateService.isLoggedIn else notLoggedIn" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle button--primary text-white align-middle" id="navbarDropdownMenuLink-333"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"><img src="{{authenticateService.loggedInUser.profilePicture}}"
                                                class="userProfile"
                                                alt="avatar image">{{authenticateService.loggedInUser.firstName | titlecase}}</i>
                </a>
                <div id="dropDown" class="dropdown-menu dropdown-menu-right dropdown-default"
                     aria-labelledby="navbarDropdownMenuLink-333">
                    <a class="dropdown-item   button--primary" routerLink="/profile">Mijn Profiel</a>
                    <a class="dropdown-item   button--primary" (click)="logout()">Log uit</a>
                </div>
            </li>

<!--            When the user is not logged in-->
            <ng-template #notLoggedIn>
                <li class="nav-item">
                    <a class="nav-link text-white button--primary" id="aboutUs" routerLink="/aboutUs">Over ons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link button--primary text-white" id="allActivities" routerLink="/activityOverview">Alle Activiteiten</a>
                </li>



                <li class="nav-item ">
                    <a class="nav-link text-white button--primary" routerLink="/login">Login</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-white button--primary" routerLink="/register">Aanmelden</a>
                </li>
            </ng-template>
        </ul>
    </div>
</nav>


