.container--profile{
    grid-template-columns: 3fr 1fr 3fr;
    grid-template-rows: auto;
}
.image-preview{
    text-align: center;
}
.image-preview .profile-picture{
    position: relative;
    top: 2rem;
}
.profile-picture{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
    background-color: var(--color-default);
    margin: -75px auto 1rem auto;
    border: 4px solid var(--color-default);
    position: relative;
    background-image: url("src/assets/Images/picProfile.png");
}
.header-image--profile{
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.container-activity-thumbnails{
    grid-template-columns: repeat(3, 1fr);
    transition: background 0.2s;
    background: linear-gradient(to top, var(--color-default) 5%, transparent 50%);
    position: relative;
    min-height: 200px;
    padding: 1rem;
    border-radius: 20px;
    overflow: hidden;
}

.activity-thumbnail--image {
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}
.activity-thumbnail h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    position: relative;
    top: 7rem;
    padding: 1rem;
    color: var(--color-white);
    font-size: 1.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.formRegister{
    width: 100%;
}
.upload_picture{
    width: 50px;
    height: 50px;
}
.pictures-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}

.interest--image{
    height: 150px;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 0 solid transparent;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*object-fit: cover;*/
    margin-bottom: .5rem;
}
.interest input:checked ~ .interest--image{
    border: 10px solid var(--color-default);
}

.interest input:checked ~ .interest--checked{
    opacity: 1;
}
.interest input{
    display: none;
}

.interest .interest--name{
    font-family: UniSansSemiBold, sans-serif;
    font-size: 1rem;
    display:block;
    text-transform: uppercase;
    text-align: center;
}
.edit-icon{
    position: relative;
    left: 1rem;
    cursor: pointer;
    font-size: 35px;
    float: right;
    width: 50px;
    height: 50px;
    color: var(--color-default);
}

@media only screen and (max-width: 48em){
    .container--profile{
        grid-template-columns: 1fr;
    }
    /*Bio*/
    .container--profile > div:nth-of-type(1){
        order: 3;
    }
    /*Name and picture*/
    .container--profile > div:nth-of-type(2) {
        order: 1;
    }
    /*Chart or chat with*/
    .container--profile > div:nth-of-type(3) {
        order: 2;
    }

    .container{
        grid-template-columns: 1fr;
    }
    .activity-thumbnail--image{
        height: 200px;
        object-fit: cover;
    }

    .activity-thumbnail h3{

        top: 9rem;
    }
}
