<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Mijn profiel</title>
    <!--    <link rel="shortcut icon" href="img/favicon_connect.ico" />-->

</head>
<body>

<div id="headerImage" class="header-image--profile"
     style="background-image:url('assets/Images/flowers.jpeg')"></div>

<div class="wrapper">
    <div *ngIf="authenticationService.isLoggedIn" class="container container--profile" id="my-profile">
        <div class="profile--left">

            <form action="" method="POST">
                <div class="formRegister">
                    <div id="input-fields-user-information">
                        <h2>Persoonlijke gegevens</h2>

                        <div class="form--input">
                            <span>Voornaam</span>
                            <input #firstName [value]="authenticationService.loggedInUser.firstName" (keyup)="hasChanged = true"
                                   type="text" class="color" id="surname" name="Voornaam"
                                   required maxlength="20">
                            <p *ngIf="submitted && firstName.value.length == 0" class="error">De voornaam is verplicht</p>
                        </div>


                        <div class="form--input">
                            <span>Achternaam</span>
                            <input #lastName [value]="authenticationService.loggedInUser.lastName" (keyup)="hasChanged = true"
                                   type="text" name="Achternaam" id="lastname" required
                                   maxlength="20">
                            <p *ngIf="submitted && lastName.value.length == 0" class="error">De achternaam is verplicht</p>
                        </div>

                        <div class="form--input">
                            <span>Geboortedatum</span>
                            <input #birthDate [value]="authenticationService.loggedInUser.birthDate | date:'yyyy-MM-dd'"
                                   (keyup)="hasChanged = true" type="date" name="Geboortedatum" id="birthdate"
                                   placeholder="yyyy-MM-dd" required>
                        </div>

                        <div class="form--radio gender-form">
                            <label for="choice_man">
                                <input [checked]="authenticationService.loggedInUser.gender.toString() === 'MAN' "
                                       (keyup)="hasChanged = true" type="radio" id="choice_man" name="gender"
                                       value="man" checked>
                                <span>Man</span>
                            </label>
                            <label for="choice_woman">
                                <input [checked]="authenticationService.loggedInUser.gender.toString() === 'WOMAN' "
                                       (keyup)="hasChanged = true" type="radio" id="choice_woman" name="gender"
                                       value="vrouw">
                                <span>Vrouw</span>
                            </label>
                            <label for="choice_diff">
                                <input [checked]="authenticationService.loggedInUser.gender.toString() === 'OTHER' "
                                       (keyup)="hasChanged = true" type="radio" id="choice_diff" name="gender"
                                       value="anders">
                                <span>Anders</span>
                            </label>
                        </div>
                        <div class="form--input">
                            <span>Email</span>
                            <input #email [value]="authenticationService.loggedInUser.email" (keyup)="hasChanged = true"
                                   id="email" type="email" name="mailadres" maxlength="40">
                            <p *ngIf="submitted && email.value.length == 0" class="error">De email is verplicht</p>

                        </div>

                        <div class="form--input">
                            <span>Wachtwoord</span>
                            <div class="show-password">
                                <i class="fa fa-eye"></i>
                                <input #password (keyup)="hasChanged = true" class="form_input" type="password" name="wachtwoord"
                                       id="password1"
                                       maxlength="30" required="required">
                                <p *ngIf="submitted && password.value.length == 0 " class="error">
                                    Wachtwoord is verplicht
                                </p>
                            </div>
                            <span>Bevestiging wachtwoord</span>
                            <div class="show-password">
                                <i class="fa fa-eye"></i>
                                <input #passwordConfirm (keyup)="hasChanged = true"  class="form_input" type="password" name="wachtwoord"
                                       id="password2"
                                       maxlength="30" required="required">
                                <p *ngIf="submitted && password.value != passwordConfirm.value " class="error">
                                    Het is niet juist
                                </p>
                            </div>

                        </div>
                        <div>
                            <button (click)="onUpdate(password.value , passwordConfirm.value)" *ngIf="hasChanged" [disabled]="!hasChanged" id="save"
                                    class="button button--primary button--form">Opslaan
                            </button>
                        </div>
                    </div>
                </div><!--display div grid-->
            </form>
        </div>
        <!--            user info-->
        <div class="user-info">
            <div class="profile-picture" id="profileImage" style="background-image:url('{{authenticationService.loggedInUser.profilePicture}}')">
                <a>
                    <mat-icon class="edit-icon" data-toggle="modal" data-target="#myModal">edit</mat-icon>
                </a>
            </div>
        </div>

        <div class="profile--right">
            <div *ngIf="authenticationService.isLoggedIn && authenticationService.loggedInUser.interests != null" class="pictures-section" id="pictures-section">
                <label *ngFor="let interest of arrayInterests" for="{{interest.name}}" class="interest">
                    <input name="interest" value="{{interest.id}}" type="checkbox"
                           [checked]="authenticationService.loggedInUser && authenticationService.loggedInUser.interests.includes(interest.id)"
                           id="{{interest.name}}">
                    <div class="interest--checked fas fa-check"></div>
                    <div class="interest--image"
                         style="background-image:url('{{interest.image}}')"></div>
                    <span class="interest--name">{{interest.name}}</span>
                </label>
            </div>

        </div>
    </div>
    <div class="container">
        <div>
            <a>
                <button class="button button--primary" routerLink="/myAcitivities">Al mijn acitiviteiten</button>
            </a>
        </div>
        <div class="container container-activity-thumbnails">
            <div>
                <div class="activity-thumbnail--image" style="background-image:url('/assets/Images/landscape.jpeg')">
                    <div class="activity-thumbnail">
                        <h3>Activiteit1</h3>
                    </div>
                </div>
            </div>
            <div>
                <div class="activity-thumbnail--image" style="background-image:url('/assets/Images/tree.jpeg')">
                    <div class="activity-thumbnail">
                        <h3>Activiteit 2</h3>
                    </div>
                </div>
            </div>

            <div>
                <div class="activity-thumbnail--image" style="background-image:url('/assets/Images/airballoon.jpeg')">
                    <div class="activity-thumbnail">
                        <h3>Activiteit 3</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--modal fo editing the profile picture-->
<div class="modal fade h-50" id="myModal">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
            </div>

            <div class="image-preview p-5">
                <img id="profile-picture-preview" class="profile-picture">
            </div>
            <label class="input-group-text m-1">Upload uw foto (optional)
                <input id="profile-picture-lable" class="m-4" type="file" #uploadedProfile>
            </label>
            <div class="modal-footer p-0">
                <button (click)="onEditPicture()" id="add-modal" type="button" class="button--primary "
                        data-dismiss="modal ">Add
                </button>

                <button id="close-modal" type="button" class="button--primary" data-dismiss="modal">Close</button>
            </div>

            <div id="success-message" class="alert alert-success alert-dismissible fade">
                <strong>Success!</strong> The picture has been added successfully.
            </div>
        </div>

    </div>

</div>
</body>
</html>
