header {
    width: 100%;
    height: 250px;
    background-image: linear-gradient(to bottom, rgba(220,220,220,0.7) 0%,rgba(220,220,220,0.7) 100%),
    url("src/assets/Images/activityImage/wandeling.jpg");
    background-position: center;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 70px;
    text-shadow: 0 0 20px white;
}

.activity-image-box {
    height: 50%;
    width: 40%;
    float: left;
    margin-top: 2rem;
    margin-left: 3rem;
}

.activity-image {
    height: 100%;
    width: 100%;
}

.activity-description-title {
    font-weight: bold;
}

.activity-description {
    border: 1px solid var(--color-default);
    float: right;
    width: 50%;
    margin-top: 2rem;
    margin-right: 2rem;
}

.comment-box {
    margin-left: 3rem;
    width: 40%;
    height: 25%;
}

.comment-box-title {
    font-weight: bold;
}

.comment-box-input {
    width: 100%;
    height: 100%;
    outline: none;
}

.place-comment-button {
    margin-top: -2%;
    height: 30%;
    width: 30%;
    float: right;
    border-radius: 5%;
    border: none;
}

.user-comments-box-title {
    font-weight: bold;
}

.user-comments-box {
    float: right;
    width: 50%;
    height: 36.5%;
    border: 1px solid var(--color-default);
    margin-right: 2rem;
    margin-top: -17rem;
}
