@import "../../../../style-extra/form.css";
@import "../../../../style-extra/buttons.css";
@import "../../../../style-extra/grid.css";

.upload_picture{
    width: 100px;
    height: 100px;
    background-size: cover;
}

.profile_image--preview{
    border-radius: 100%;
}


.pictures_uploaden{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

#log-in {
    color: var(--color-blue);
}


.pictures-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}

.description-interests {
    display: grid;
    justify-content: center;
    font-family: Arial, serif;
    font-size: 25px;
}

.interest--image{
    height: 150px;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 0px solid transparent;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: .5rem;
}
.interest input:checked ~ .interest--image{
    border: 10px solid var(--color-orange);
}

.interest input:checked ~ .interest--checked{
    opacity: 1;
}
/*.interest{*/
/*    position: relative;*/
/*}*/


/*.interest--checked{*/
/*    !*transition: opacity .2s;*!*/
/*    !*display: block;*!*/
/*    !*opacity: 0;*!*/
/*    !*position: absolute;*!*/
/*    !*border-radius: 100%;*!*/
/*    !*top: -1rem;*!*/
/*    !*right: -1rem;*!*/
/*    !*padding: 10px;*!*/
/*    !*background-color: var(--color-orange);*!*/
/*    !*color: var(--color-white);*!*/
/*}*/

.interest input{
    display: none;
}

.interest .interest--name{
    font-family: UniSansSemiBold, sans-serif;
    font-size: 1rem;
    display:block;
    text-transform: uppercase;
    text-align: center;
}

.interest:hover {
    cursor:pointer;
}


@media only screen and (max-width: 480px) {


}
@media only screen and (max-width: 1024px){

    * {
        box-sizing: border-box;

    }

    .pictures-section{
        position: relative;
        top: 1em;
        align-items: center;
    }
    .gallery__img {
        border-radius: 3%;
        width: 70px;
        height: 30px;
    }
    .description-interests {
        font-family: Arial, serif;
        font-size: 13px;
    }
}
