<!--<div class="text-center header">-->
<!--    <h2  class="font-italic p-1 digital-life-title">Digital Life</h2>-->
<!--</div>-->
<form id="formRegister" action="" method="POST">
    <div class="wrapper no-padding">
        <div class="grid--half">
            <div id="input-fields-user-information">
                <h4>Persoonlijke gegevens</h4>

                <div class="form--input">
                    <span>Voornaam</span>
                    <input type="text" class="color" id="surname" name="Voornaam" required maxlength="20">
                </div>

                <div class="form--input">
                    <span>Achternaam</span>
                    <input type="text" name="Achternaam" id="lastname" required maxlength="20">
                </div>

                <div class="form--input">
                    <span>Geboortedatum</span>
                    <input type="date" name="Geboortedatum" id="birthdate" required>
                </div>

                <div class="form--radio">
                    <label for="choice_man">
                        <input type="radio" id="choice_man" name="gender" value="man" checked>
                        <span>Man</span>
                    </label>
                    <label for="choice_woman">
                        <input type="radio" id="choice_woman" name="gender" value="vrouw">
                        <span>Vrouw</span>
                    </label>
                    <label for="choice_diff">
                        <input type="radio" id="choice_diff" name="gender" value="anders">
                        <span>Anders</span>
                    </label>
                </div>

                <h4>Account instellingen</h4>

                <div class="pictures_uploaden">
                    <div>
                        <img class="upload_picture" src="../../../../assets/Images/Interests/musea.jpg">
                        <p>Profielfoto</p>
                        <input id="profile_image" type="file" name="profile_img">
                    </div>
                </div>

                <div class="form--input">
                    <span>Email</span>
                    <input id="email" type="email" name="mailadres"  maxlength="40">
                </div>

                <div class="form--input">
                    <span>Wachtwoord</span>
                    <div class="show-password">
                        <i class="fa fa-eye"></i>
                        <input class="form_input" type="password" name="wachtwoord" id="password1" maxlength="30" required="required">
                    </div>
                    <span>Bevestiging wachtwoord</span>
                    <div class="show-password">
                        <i class="fa fa-eye"></i>
                        <input class="form_input" type="password" name="wachtwoord" id="password2" maxlength="30" required="required">
                    </div>
                </div>

            </div>
            <div>
                <h4>Interesses</h4>
                <p>Met deze interesses kunnen we voor u de passende activiteiten vinden <b>Kies drie interesses</b>.</p>
                <div class="pictures-section" id="pictures-section">
                    <label for=muziek class="interest">
                        <input name="interest" value="muziek" type="checkbox" id="muziek">
                        <div class="interest--checked fas fa-check"></div>
                        <div class="interest--image" style="background-image:url('../../../../assets/Images/Interests/muziek.jpg')"></div>
                        <span class="interest--name">muziek</span>
                    </label>

                    <label for=strand class="interest">
                        <input name="interest" value="strand" type="checkbox" id="strand">
                        <div class="interest--checked fas fa-check"></div>
                        <div class="interest--image" style="background-image:url('../../../../assets/Images/Interests/strand.jpg')"></div>
                        <span class="interest--name">Strand</span>
                    </label>


                    <label for=avontuur class="interest">
                        <input name="interest" value="avontuur" type="checkbox" id="avontuur" >
                        <div class="interest--checked fas fa-check"></div>
                        <div class="interest--image" style="background-image:url('../../../../assets/Images/Interests/avontuur.jpg')"></div>
                        <span class="interest--name">avontuur</span>
                    </label>



                    <label for=dieren class="interest">
                        <input name="interest" value="dieren" type="checkbox" id="dieren" >
                        <div class="interest--checked fas fa-check"></div>
                        <div class="interest--image" style="background-image:url('../../../../assets/Images/Interests/dieren.jpg')"></div>
                        <span class="interest--name">dieren</span>
                    </label>


                    <label for=shopping class="interest">
                        <input name="interest" value="shopping" type="checkbox" id="shopping">
                        <div class="interest--checked fas fa-check"></div>
                        <div class="interest--image" style="background-image:url('../../../../assets/Images/Interests/shopping.jpg')"></div>
                        <span class="interest--name">shopping</span>
                    </label>


                    <label for=sporten class="interest">
                        <input name="interest" value="sporten" type="checkbox" id="sporten" >
                        <div class="interest--checked fas fa-check"></div>
                        <div class="interest--image" style="background-image:url('../../../../assets/Images/Interests/sporten.jpg')"></div>
                        <span class="interest--name">Strand</span>
                    </label>


                    <label for=wintersport class="interest">
                        <input name="interest" value="wintersport" type="checkbox" id="wintersport" >
                        <div class="interest--checked fas fa-check"></div>
                        <div class="interest--image" style="background-image:url('../../../../assets/Images/Interests/wintersport.jpg')"></div>
                        <span class="interest--name">wintersport</span>
                    </label>

                </div><!--pictures section-->
            </div><!--grid child-->
        </div><!--display div grid-->
    </div><!--wrapper-->
    <div class="wrapper no-padding">
        <div class="grid--half">
            <div>
                <input id="submit" value="Registreren" type="submit" class="button button--primary button--form uppercase">
                <p class="text-center">Heeft u al een account? <a routerLink="/login"> Log in</a>.</p>
            </div>
        </div>
    </div>
</form>
