<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active ">

            <img class="image d-block" src="assets/Images/timur-garifov-sisZWCDkmwA-unsplash.jpg" alt="tree image" >
<!--            <h1 class="centered">De inspiratie voor een dagje uit!</h1>-->
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="assets/Images/tulip.jpeg" alt="tulip image">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="assets/Images/landscape.jpeg" alt="landscape image">
        </div>
    </div>
</div>
