<div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4">
        <div class="card">
            <img src="assets/Images/wandeling.jpg" class="card-img-top" alt="wandeling">
            <div class="card-body">
                <h5 class="card-title">Wandeling</h5>
                <p class="card-text">Wandelen in mooiste natuurgebieden van Nederland,</p>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="assets/Images/fietsen.jpg" class="card-img-top" alt="fietsen">
            <div class="card-body">
                <h5 class="card-title">Fietsen met vriendin</h5>
                <p class="card-text">Gezellig fietsen met uw vriendin door de mooiste paden van Nederland met onze begeleiders.</p>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="assets/Images/bowlen.jpg" class="card-img-top" alt="bowlen">
            <div class="card-body">
                <h5 class="card-title">Disco Bowlen</h5>
                <p class="card-text">Zin in bowlen? Kom lekker met uw vriendin of familie disco Bowlen.</p>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="assets/Images/mondkapjes.jpg" class="card-img-top" alt="mondkapje">
            <div class="card-body">
                <h5 class="card-title">Mondkapjes maken/h5>
                <p class="card-text">Geen zin om naar buiten te gaan? Maak thuis leuke mondkapjes voor je zelf of vriendin.</p>
                </h5>
        </div>
    </div>
</div>
</div>
