.row.row-cols-1.row-cols-md-2 {
   margin: 1rem;
}
.col.mb-4 {
    display: flex;
}

/*.card {*/
/*    width: 500px;*/
/*    justify-content: space-between;*/
/*}*/

/*.col.mb-4:nth-child(1) .card {*/
/*    height: 418px;*/
/*}*/
.card{
    border-radius: var(--border-radius);
}
.card-img-top{
    max-height: 350px;
    border-radius: var(--border-radius);
}
@media screen and (max-width: 1124px) {
    #carouselExampleSlidesOnly {
        max-height: 340px;
    }
}

@media screen and (max-width: 767px) {
    .col.mb-4 {
        justify-content: center;
    }
}

