/***** categories css *******/
.row.row-cols-1.row-cols-md-2 {
    margin: 1rem;
}
.col.mb-4 {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

/*.card {*/
/*    width: 500px;*/
/*    justify-content: space-between;*/
/*}*/

/*.col.mb-4:nth-child(1) .card {*/
/*    height: 418px;*/
/*}*/
.card{
    border-radius: var(--border-radius);
    cursor: pointer;
    width:720px;
    height: 550px;
    float: left;
    margin: 15px;
    border-color: var(--color-default);
    box-shadow: 7px 7px 7px var(--color-default);

}

.card:hover {
    transform: translateY(-10px);
    cursor: pointer;
    transition: .2s;
    border-color: var(--color-blue);
    box-shadow: 7px 7px 7px var(--color-blue);
}

.card-img-top{
    max-height: 420px;
    border-radius: var(--border-radius);
}
@media screen and (max-width: 1124px) {
    #carouselExampleSlidesOnly {
        max-height: 340px;
    }
}

@media screen and (max-width: 767px) {
    .col.mb-4 {
        justify-content: center;
    }
}

/***** zoekbalk css ********/


.container-fluid{
    background-color: var(--color-default);
    padding: 1rem;
}


.form-inline{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.searchBar{
    width: 50%;
    margin: 25px auto;
}

.input-group-append .btn.text-white {
    background-color: black;
}

@media screen  and (max-width: 850px){
    .form-inline{
        flex-direction: column;
    }

    label {
        padding-top: 12px;
    }
}
