/***** categories css *******/
.row.row-cols-1.row-cols-md-2 {
    margin: 1rem;
}
.col.mb-4 {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.container-grid{
    display: grid;
    grid-template-rows: repeat(1,auto);
    grid-template-columns: repeat(2,auto);
    /*padding: 4rem;*/
}

.card{
    border-radius: var(--border-radius);
    cursor: pointer;
    margin: 15px;
    border-color: var(--color-default);
    box-shadow: 7px 7px 7px var(--color-default);

}
.card-title{
    font-size: var(--font-h1);
}
.card-text{
    font-size:  var(--font-p);
}
.card:hover {
    transform: translateY(-10px);
    cursor: pointer;
    transition: .2s;
    /*border-color: var(--color-blue);*/
    /*box-shadow: 7px 7px 7px var(--color-blue);*/
}

.card-img-top{
    max-height: 420px;
    border-radius: var(--border-radius);
}
@media screen and (max-width: 1124px) {
    #carouselExampleSlidesOnly {
        max-height: 340px;
    }
}

@media screen and (max-width: 767px) {
    .col.mb-4 {
        justify-content: center;
    }
}

/***** zoekbalk css ********/


.container-fluid{
    background-color: var(--color-default);
    padding: 1rem;
}


.form-inline{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.searchBar{
    width: 50%;
    margin: 25px auto;
}

.input-group-append .btn.text-white {
    background-color: black;
}

@media screen  and (max-width: 850px){
    .form-inline{
        flex-direction: column;
    }

    label {
        padding-top: 12px;
    }
}

@media screen and (max-width: 1500px){

    .container-grid {
        grid-template-columns: 1fr;
    }
    .card{
        padding: 0;
        width: auto;
    }

    .row.row-cols-1.row-cols-md-2 {
        padding: 0;
        height: 50px;
    }
}
