<app-banner></app-banner>
<div class="container-fluid">
    <div class="form-inline" role="form">

        <label>
            <select class="form-control form-control-lg" style="padding-right: 3rem">
                <input id="categorieën" placeholder="Categorieën">
                <option>Categorieën</option>
                <optgroup disabled label="------------------"></optgroup>
                <option *ngFor="let category of categoryArray" routerLink="/category/{{category.categoryTitle}}">{{category.categoryTitle}}</option>
            </select>
        </label>

        <label>
            <select class="form-control form-control-lg" style="padding-right: 3rem">
                <input id="eigenschap" placeholder="Eigenschap">
                <option>Eigenschap 1</option>
                <option>Eigenschap 2</option>
                <option>Eigenschap 3</option>
                <option>Eigenschap 4</option>
            </select>
        </label>

        <label>
            <select class="form-control form-control-lg" style="padding-right: 3rem">
                <input id="provincies" placeholder="Provincie">
                <option>Provincie 1</option>
                <option>Provincie 2</option>
                <option>Provincie 3</option>
                <option>Provincie 4</option>
            </select>
        </label>

        <label for="example-date-input">
            <input class="form-control form-control-lg" type="date" id="example-date-input">
        </label>
    </div>

    <div class="searchBar">
        <div class="input-group" >
            <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText" style="height: 3rem">
            <div class="input-group-append">
                <button class="btn text-white" type="button">
                    <mat-icon>search</mat-icon>
                </button>
            </div>
        </div>
    </div>

</div>

<div class="container-grid">

    <div class="card" routerLink="/category/{{category.categoryTitle}}" *ngFor="let category of categoryArray | filter: searchText">
        <img src="../../../../assets/Images/activityImage/{{category.image}}" class="card-img-top" alt="{{category.categoryTitle}}}">
        <div class="card-body">
            <h2 class="card-title">{{category.categoryTitle}}</h2>
            <p class="card-text">{{category.description}}</p>
        </div>
    </div>


</div>

