.button{
    font-family: 'Open Sans', sans-serif;
    /*font-weight: bold;*/
    transition: background-color .2s;
    font-size: 1rem;
    padding: .5rem 1rem;
    display:inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-bottom: .5rem;
}
.button:hover{
    cursor:pointer;
}

.button--tile{
    font-family: 'Open Sans', sans-serif;
    padding: 1rem;
    text-align: center;
    border-radius: var(--border-radius);
}

.button--tile span{
    display: block;
    color: var(--color-white);
    padding-bottom: 1rem;
}

.button--primary{
    background-color: var(--color-default);
    color: var(--color-white);
    border-radius: var(--border-radius);
    border: none;
}

.button--primary .fa{
    color: var(--color-white);
}

.button--secondary{
    background-color: var(--color-blue);
    color: var(--color-white);
    border-radius: 15px;
}

.button--form{
    width: 100%;
}

.button--primary:hover{
    background-color: var(--color-black);
}


.submit-button:hover {
    opacity: 0.9;
}
