

.login_blok{
    transition: box-shadow .2s ease;
    padding: 2rem;
    background-color: var(--color-white);
    margin-top: -5rem;
    border-radius: var(--border-radius);
    box-shadow: 3px 3px 7px 1px rgba(0,0,0,0.22);
}

.login_blok:hover{
    box-shadow: 3px 3px 7px 1px rgba(0,0,0,0.4);
}


.post-thumbnail--image{
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}

.post-thumbnail{
    transition: background 0.2s;
    background: linear-gradient(to top, var(--color-black) 0%, transparent 75%);
    position: relative;
    min-height: 200px;
    padding: 1rem;
    border-radius: 20px;
    overflow: hidden;
}

.post-thumbnail img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*The title of the post*/
.post-thumbnail h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    position: absolute;
    padding: 0;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    color: var(--color-white);
    font-size: 1.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.text_1{
    display: block;
    font-style: var(--font-family-text);
}
@media only screen and (max-width: 48em){
    .login_blok{
        margin:0;
    }
}
