<div class="wrapper">
    <div class="grid--half">
        <div class="text_1">
            <h2> Vind leuke acvtiviteiten! </h2>
            <p> blabla bla bla bla  </p>
        </div>
        <div class="login_blok">
            <form class="form">
                <h2 id="h2">Inloggen</h2>
                <div class="form--input">
                    <!--                  <span>Gebruikersnaam</span>-->
                    <input class="form_input" id="email" name="gebruikersnaam" placeholder="e-mail" type="text">
                </div>

                <div class="form--input">
                    <!--                  <span>Wachtwoord</span>-->
                    <div class="show-password">
                        <i class="fa fa-eye" id="eye"></i>
                        <input  class="form_input" id="password" maxlength="20" placeholder="wachtwoord" type="password">
                    </div>
                </div>

                <input value="Inloggen" type="submit" id="submit" class="button button--primary button--form uppercase">
                <input value="stuur wachtwoord" type="button" id="stuur_wachtwoord" class="button button--primary button--form uppercase" style="display: none" onclick="send_email_reset_password()">
                <!--              <a href="my-profile.html">-->
                <!--                  <div class="button button&#45;&#45;primary button&#45;&#45;form text-center">Inloggen</div>-->
                <!--              </a>-->

                <!--              <a href="my-profile.html">-->
                <!--    &lt;!&ndash;              <input value="Inloggen met facebook" type="submit" class="button button&#45;&#45;secondary button&#45;&#45;form uppercase">&ndash;&gt;-->
                <!--                  <div class="button button&#45;&#45;secondary button&#45;&#45;form text-center">Inloggen met Facebook</div>-->
                <!--              </a>-->

                <p class="text-center no-padding">Heeft u nog geen een account? <a class="form--link" href="registreren.html">Registreer nu</a></p>
                <p class="form--link text-center"><a class="" >Ik ben mijn wachtwoord vergeten.</a></p>
            </form>
        </div>
    </div>
    <div class="container">
        <div>
            <h3 class="inline-responsive">Corendon Connect</h3>
        </div>
        <div class="container container--post-thumbnails">

            <div class="post-thumbnail--image" style="background-image:url('img/reis.jpg')">
                <div class="post-thumbnail post-thumbnail--front">
                    <h3>Ontdek reizigers</h3>
                </div>
            </div>


            <div class="post-thumbnail--image" style="background-image:url('img/backpack.jpg')">
                <div class="post-thumbnail post-thumbnail--front">
                    <h3>Lees reisverhalen</h3>
                </div>
            </div>


            <div class="post-thumbnail--image" style="background-image:url('img/woods.jpg')">
                <div class="post-thumbnail post-thumbnail--front">
                    <h3>Maak de reis van uw leven</h3>
                </div>
            </div>

        </div>
    </div>
</div>


