<div class="wrapper">
    <div class="grid--half p-5">
        <div class="text_1">
            <h2>Vind leuke acvtiviteiten! </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="login_blok">
            <form class="form">
                <h2 id="h2">Inloggen</h2>
                <div class="form--input">
                    <!--                  <span>Gebruikersnaam</span>-->
                    <input class="form_input" id="email" name="gebruikersnaam" placeholder="e-mail" type="text">
                </div>

                <div class="form--input">
                    <!--                  <span>Wachtwoord</span>-->
                    <div class="show-password">
                        <i class="fa fa-eye" id="eye"></i>
                        <input class="form_input" id="password" maxlength="20" placeholder="wachtwoord" type="password">
                    </div>
                </div>

                <input value="Inloggen" type="submit" id="submit" class="button button--primary button--form uppercase">
                <input value="stuur wachtwoord" type="button" id="stuur_wachtwoord"
                       class="button button--primary button--form uppercase" style="display: none"
                       onclick="">
                <!--              <a href="my-profile.html">-->
                <!--                  <div class="button button&#45;&#45;primary button&#45;&#45;form text-center">Inloggen</div>-->
                <!--              </a>-->

                <!--              <a href="my-profile.html">-->
                <!--    &lt;!&ndash;              <input value="Inloggen met facebook" type="submit" class="button button&#45;&#45;secondary button&#45;&#45;form uppercase">&ndash;&gt;-->
                <!--                  <div class="button button&#45;&#45;secondary button&#45;&#45;form text-center">Inloggen met Facebook</div>-->
                <!--              </a>-->

                <p class="text-center no-padding">Heeft u nog geen een account? <a routerLink="/register"
                                                                                   class="form--link">Registreer nu</a>
                </p>
                <p class="form--link text-center"><a class="">Ik ben mijn wachtwoord vergeten.</a></p>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="container container--post-thumbnails">

        <div class="post-thumbnail--image"
             style="background-image:url('../../../../assets/Images/Interests/shopping.jpg')">
            <div class="post-thumbnail">
                <h3>Ontdek</h3>
            </div>
        </div>

        <div class="post-thumbnail--image"
             style="background-image:url('../../../../assets/Images/Interests/muziek.jpg')">
            <div class="post-thumbnail">
                <h3>Lees meer</h3>
            </div>
        </div>

        <div class="post-thumbnail--image"
             style="background-image:url('../../../../assets/Images/Interests/wintersport.jpg')">
            <div class="post-thumbnail">
                <h3>Vind de mooiste activiteiten</h3>
            </div>
        </div>
    </div>
</div>





