.login_blok{
    transition: box-shadow .2s ease;
    padding: 2rem;
    background-color: var(--color-default);
    margin-top: -5rem;
    border-radius: var(--border-radius);
    box-shadow: 3px 3px 7px 1px rgba(0,0,0,0.22);
    color: white;
}

.login_blok:hover{
    box-shadow: 3px 3px 7px 1px rgba(0,0,0,0.4);
}

.text_1{
    display: block;
    font-style: var(--font-family-text);
}
@media only screen and (max-width: 48em){
    .login_blok{
        margin:0;
    }
}
