h3{
    font-style: italic;
    color: var(--white);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 100px;
    background-color: var(--color-orange);
    padding: 1rem;
}

img{
    display: block;
    max-height: 100%;
    max-width: 100px;
    object-fit: contain;
}

.title{
    text-align: center;
    margin: auto;
}

