<app-header></app-header>
<div class="wrapper">
    <div class="grid--half p-5">
        <div class="text_1">
            <h2>Vind leuke activiteiten! </h2>
            <p>Op Dagje Uit staan allerlei leuke activiteiten.
                De activiteiten kunnen door iedereen gedaan worden.
                Alle activiteiten kunnen worden gebaseerd op wat u leuk vindt.
                Dit kan voor u gedaan worden als u een account aanmaakt en uw interesses aangeeft.
                U zou natuurlijk ook alle activiteiten zelf kunnen filteren op uw interesses.
                Bij alle activiteiten kunt u een beschrijving vinden met daarbij reacties van andere gebruikers met een
                account.
                Kortom, op Dagje Uit is voor iedereen wat leuks te doen in zijn vrije tijd!</p>
        </div>
        <div class="login_blok">

            <div id="reset-icon" class="centerError confirmation-send p-2" style="display: none; z-index: 100">
                <mat-icon class="align-middle">info</mat-icon>
                <h3 style="color: var(--color-black)">Vul uw email in</h3>
                <input #emailResetPassword type="text" placeholder="Type uw email..." class="form_input form-control">

                <button (click)="hideConfirmationModal()" class="button--primary float-right"
                        style="position: absolute;  bottom:0; right: 1rem">Sluiten
                </button>
                <button (click)="resetPassword(emailResetPassword.value)" class="button--primary float-right"
                        style="position: absolute;  bottom:0; right: 5rem">Resetten
                </button>
                <div id="success-message-send" class="alert alert-success alert-dismissible mt-2" style="display: none">
                    Email is verzonden
                </div>
            </div>


            <form class="form" id="form-login-email-password" [formGroup]="loginForm">
                <h2 id="h2">Inloggen</h2>
                <div class="form--input">
                    <!--                  <span>Gebruikersnaam</span>-->
                    <input #email required formControlName="email" class="form_input form-control"
                           id="email" name="gebruikersnaam" placeholder="e-mail" type="text" [ngClass]="{'is-invalid':
                           loginForm.get('email').touched &&
                            loginForm.get('email').invalid}">
                </div>


                <div class="form--input">
                    <!--                  <span>Wachtwoord</span>-->
                    <div class="show-password">
                        <input #password formControlName="password" class="form_input form-control" id="password"
                               maxlength="20"
                               placeholder="wachtwoord" type="password"
                               [ngClass]="{'is-invalid':
                            loginForm.get('password').touched &&
                            loginForm.get('password').invalid}">
                    </div>

                    <div id="error-login" class="alert alert-danger" style="display: none" role="alert">


                    </div>
                </div>

                <button [disabled]="!loginForm.valid" type="submit" id="submit"
                        class="button button--primary button--form uppercase loginBtnTest"
                        (click)="login({email: email.value, password:password.value})">Inloggen
                </button>
                <input value="stuur wachtwoord" type="button" id="stuur_wachtwoord"
                       class="button button--primary button--form uppercase" style="display: none"
                       onclick="">
                <p class="text-center no-padding text-white">Heeft u nog geen een account? <a routerLink="/register"
                                                                                              class="form--link">Registreer
                    nu</a>
                </p>
                <p class="form--link text-center"><a (click)="showConfirmationModal()" class="text-white">Ik ben mijn
                    wachtwoord vergeten.</a></p>
            </form>
        </div>
    </div>
</div>


<div class="container ">
    <div class="container container-activity-thumbnails">

        <div class="activity-thumbnail--image"
             style="background-image:url('../../../assets/Images/Interests/shopping.jpg')" routerLink="/home">
            <div class="activity-thumbnail">
                <h3>Ontdek</h3>
            </div>
        </div>

        <div class="activity-thumbnail--image"
             style="background-image:url('../../../assets/Images/Interests/muziek.jpg')" routerLink="/aboutUs">
            <div class="activity-thumbnail">
                <h3>Lees meer</h3>
            </div>
        </div>

        <div class="activity-thumbnail--image"
             style="background-image:url('../../../assets/Images/Interests/wintersport.jpg')" routerLink="/activityOverview">
            <div class="activity-thumbnail">
                <h3>Vind de mooiste activiteiten</h3>
            </div>
        </div>
    </div>
</div>





