<div class="container-fluid">
  <div class="form-inline" role="form">

    <label>
      <select class="form-control form-control-lg" style="padding-right: 3rem">
        <input id="categorieën" placeholder="Categorieën">
        <option>Categorie 1</option>
        <option routerLink="/category">Herfst</option>
        <option>Categorie 3</option>
        <option>Categorie 4</option>
      </select>
    </label>

    <label>
      <select class="form-control form-control-lg" style="padding-right: 3rem">
        <input id="eigenschap" placeholder="Eigenschap">
        <option>Eigenschap 1</option>
        <option>Eigenschap 2</option>
        <option>Eigenschap 3</option>
        <option>Eigenschap 4</option>
      </select>
    </label>

    <label>
      <select class="form-control form-control-lg" style="padding-right: 3rem">
        <input id="provincies" placeholder="Provincie">
        <option>Provincie 1</option>
        <option>Provincie 2</option>
        <option>Provincie 3</option>
        <option>Provincie 4</option>
      </select>
    </label>

    <label for="example-date-input">
      <input class="form-control form-control-lg" type="date" id="example-date-input">
    </label>

  </div>

  <div class="searchBar">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search" style="height: 3rem">
      <div class="input-group-append">
        <button class="btn text-white" type="button">
          <mat-icon>search</mat-icon>
        </button>


      </div>
    </div>
  </div>

</div>

<div class="col mb-4" routerLink="/category">
    <div class="card">
        <img src="../../../../assets/Images/activityImage/wandeling.jpg" class="card-img-top" alt="wandeling">
        <div class="card-body">
            <h2 class="card-title">Herfst</h2>
            <p class="card-text">Wandelen in mooiste natuurgebieden van Nederland,</p>
        </div>
    </div>
</div>
