<header id="header">
    <h1>Wandeling</h1>
</header>


<div class="container--grid">

    <div class="right-side">
        <div class="right-side-grid">
            <div class="activity-image-box">
                <img class="activity-image" src="../../../../assets/Images/activityImage/wandeling.jpg">
            </div>
            <div class="activity-description">
                <h2 class="activity-description-title">Beschrijving:</h2>
                <p>In de herfst komen de mooiste kleuren van de
                    natuur naar buiten. Daarom is het de perfecte
                    gelegenheid om met goed weer een wandeling te
                    maken door bijvoorbeeld een bos. Het is natuurlijk erg
                    om dit met een vriend, familielid of kennis te doen maar
                    het is ook erg leuk om alleen de natuur te ontdekken. Alleen
                    kunt u namelijk ook de mooie geluiden van de vogels en anderen
                    dieren in u opnemen. Dit is natuurlijk erg goed om uw hoofd
                    helemaal leeg te maken en even uw welverdiende rust te pakken.</p>
            </div>
        </div>
    </div>

    <div class="left-side">
        <div class="left-sid-grid">
            <div class="comment-box">
                <textarea class="comment-box-input" placeholder="Typ hier uw reactie..."></textarea>
                <button class="button button--primary float-right">Plaats reactie</button>
            </div>

            <div class="user-comments-box">
                <h2 class="user-comments-box-title">Reacties:</h2>
                <p><b>Ankie:</b> Goede tip, ik heb vandaag een prachtige wandeling gemaakt.<br>
                    <b>Jacob:</b> Leuk, ik heb niet door het bos gewandeld maar door de duinen.</p>
            </div>
        </div>

    </div>

</div>


