.grid-three-sections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
    padding: .4rem;
}
.default-picture{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background-color: var(--color-default);
    margin: -75px auto 1rem auto;
    border: 4px solid var(--color-default);
    position: relative;
}

.image-preview{
    text-align: center;
}
.image-preview .default-picture{
    position: relative;
    top: 3rem;
    width: 80px;
    height: 80px;
}

