<div id="menu_container" class="posts-container-overview"></div>
<script>includeHtml('#menu_container', 'menu.html');</script>

<div class="sidebar">

    <a class="button--primary" id="vandaag">Vandaag</a>
    <a class="button--primary"  id="gisteren">Gisteren</a>
    <a class="button--primary" id="afgelopen_week">Afgelopen week</a>

</div>

<h2 class="post-title">Mijn activiteiten</h2>
<div class="grid-container">
    <a>
        <div class="post-thumbnail--image" style="background-image:url('/../../../assets/Images/activityImage/fietsen.jpg')">
            <div class="post-thumbnail">
                <h3>Test test</h3>
            </div>
        </div>
    </a>
</div>
