* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/***************************SideBar*******************************/
.sidebar {
    height: 100%;
    width: 18%;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 90px;
    background-color: var(--color-default);
    padding-top: 60px;
    border-top-right-radius: 10px;
}
.post-thumbnail{
    transition: background 0.2s;
    background: linear-gradient(to top, var(--color-default) 0%, transparent 75%);
    position: relative;
    min-height: 200px;
    padding: 1rem;
    border-radius: 20px;
    overflow: hidden;
}

.post-thumbnail:hover{
    background: linear-gradient(to top, var(--color-default) 0%, transparent 75%), rgba(84,84,84,.2);
}

.post-thumbnail--image{
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1em;
    display: block;
    cursor: pointer;
    color: var(--color-white);
}

/***************************Main section*******************************/
.post-title {
    margin-left: 20%;
    padding-bottom: 2rem;
    padding-top: 2rem;
    color: var(--color-default);
    font-size: 2rem;
}

#post-title-text{
    margin-left: 20%;
    margin-right: 5%;
    margin-bottom: 30px;
}

.grid-container {
    width: 75%;
    margin-left: 20%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}

.grid-item {
    max-height: 250px;
    background-color: #f1f1f1;
    overflow: hidden;
    padding: 0.8rem;
    border-radius: 30px;
    box-shadow: 3px 3px 7px 1px rgba(0,0,0,0.22);
}

.grid-item a {
    color: rgba(48, 48, 48, 0.91);
    font-size: 0.9em;
    line-height: 15px;
}

.grid-item .item-box-content {
    padding: 10px;
}

.grid-item .item-box-content a {
    text-decoration: none;
    font-size: 1em;
    color: rgba(35, 35, 35, 0.85);
}

.grid-container hr {
    border: 0.3px solid rgba(209, 203, 214, 0.85);
    width: 80%;
    min-height: 100%;
}

/*.fa-trash{*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 2px;*/
/*    cursor: pointer;*/
/*    color: #6d6c6d;*/
/*    font-size:0.9rem;*/
/*}*/

.white-space{
    margin-top: 350px;
}

/******************    Tablet    *********************/
@media only screen and (min-width: 760px) and (max-width: 1023px) {
    .grid-item {
        transition: 0.2s;
    }

    .grid-container {
        grid-template-columns: 1fr 1fr;
    }
}
/******************    Mobile    *********************/

@media only screen and (max-width: 759px) {

    .sidebar {
        height: 180px;
        width: 95%;
        margin: .4rem auto auto;
        position: static;
        padding-top: 2rem;
        border-radius: 10px;
        overflow: hidden;
    }

    .sidebar a {
        text-align: center;
        padding-left: 10px;
    }

    #post-title-text{
        margin-left: 10%;
        margin-right: 5%;
        margin-bottom: 30px;
    }

    .grid-container {
        grid-template-columns: 1fr;
        width: 90%;
        margin: auto;
    }

    .grid-item {
        transition: 0.2s;
    }

    .post-title {
        margin-left: 7%;
    }

}
