
<header>
    <h1 class="d-flex justify-content-center align-items-center-center">Vind activiteiten speciaal voor u!</h1>
</header>
<h4 class="d-flex justify-content-center align-items-center-center mb-5">Op basis van uw interesses hebben we deze activiteiten voor u gevonden.</h4>
<div *ngIf="userService.matchingActivityArray.length > 0 else loading" class="row">
<div class="container activity-box overflow-auto d-flex row-cols-1 row-cols-md-2">
<div routerLink="/activityDetails/{{activity.id}}" class="activity-card border border-black mt-3 mb-3" *ngFor="let activity of userService.matchingActivityArray">
    <img class="card-img-top" src="{{activity.image}}" alt="{{activity.title}}">
    <div class="card-body">
        <h5 class="card-title">{{ activity.title}}</h5>
        <p class="card-text">{{activity.description}}</p>
    </div>

</div>
</div>
</div>


<ng-template #loading>
    <mat-icon class="rotate">rotate_right</mat-icon>
</ng-template>
