header {
 margin-top: 1rem;
}

.container {
    background-color: var(--color-white-smoke);
    margin-top: -2%;
}

.activity-box {
    align-items: center;
    height: 80%;
    width: 75%;
    margin-left: 11%;
}

.activity-card {
    width: 80%;
    background-color: white;
}

@media screen and (max-width: 780px) {
    h4 {
        font-size: 120%;
    }
}

@media screen and (max-width: 650px) {
    h1 {
        font-size: 180%;
    }
    h4 {
        font-size: 100%;
    }
}

@media screen and (max-width: 545px) {
    h4 {
        font-size: 80%;
    }
}

@media screen and (max-width: 450px) {
    h4 {
        font-size: 70%;
    }
}

@media screen and (max-width: 410px) {
    h1 {
        font-size: 150%;
    }
    h4 {
        font-size: 60%;
    }
}

@media screen and (max-width: 325px) {
    h1 {
        font-size: 50%;
    }
    h4 {
        font-size: 30%;
    }
}