<nav>
    <ul>
        <li routerLink="user-edit" routerLinkActive="active">Gebruikers
            <mat-icon class="align-middle">perm_identity</mat-icon>
        </li>
        <li  routerLink="activity-edit" >Activiteiten
            <mat-icon class="align-middle">local_activity</mat-icon>
        </li>
        <li routerLink="category-edit" >Categorieën
            <mat-icon class="align-middle">category</mat-icon>
        </li>
        <!--        <li>SubMenu-->
        <!--            &lt;!&ndash; Sub menu &ndash;&gt;-->
        <!--            <ul class="menu&#45;&#45;sub">-->
        <!--                <li routerLink="overview1" routerLinkActive="active">Overview 1</li>-->
        <!--            </ul>-->
        <!--        </li>-->
    </ul>
</nav>


<div class="border p-3 overflow-auto">
    <router-outlet></router-outlet>
</div>
