nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;

}

ul{
    list-style-type: none;
    padding: .5rem;
    margin:0;
}
ul li.active{
    background-color: var(--color-black);
    color: var(--color-white);
}

li{
    display: inline-block;
    padding: .5rem 1rem;
    border-radius: 2px;
    font-weight: bold;
    position: relative;
}

li:hover{
    transition: background-color .1s;
    cursor: pointer;
    background-color: var(--color-black);
    color: var(--color-white);
}

.menu--sub{
    padding: 0;
    position: absolute;
    top: 100%;
    left:0;
    background-color: var(--color-white);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
    opacity: 0;
    pointer-events: none;
    z-index: 2;
    width: 300px;
}

li:hover .menu--sub, .menu--sub:hover{
    opacity: 1;
    pointer-events: auto;
}

.menu--sub li{
    width: 100%;
    border-radius: 0;
}

.menu--sub li:hover{
    background-color: var(--color-black);
}

.menu--sub li:hover ~ ul{
    background-color: var(--color-white);
}
.icon-size {
    cursor: pointer;
    font-size: 30px;
    /*width: 25px;*/
    /*height: 25px;*/
}

