<header  *ngIf="activityToShow != null" id="header" style="background-image: linear-gradient(to bottom, rgba(220,220,220,0.7) 0%,rgba(220,220,220,0.7) 100%),
    url('{{activityToShow.image}}')">
    <h1>{{activityToShow.title}}</h1>
</header>

<!--Dit is -->
<div class="container--grid"  *ngIf="activityToShow != null; else loading">

    <div class="right-side">
        <div class="right-side-grid">
            <div class="activity-image-box">
                <img class="activity-image" src="{{activityToShow.image}}">
            </div>
            <div class="activity-description">
                <h2 class="activity-description-title">Beschrijving:</h2>
                <p>{{activityToShow.description}}</p>
                <button class="button--primary float-right m-1" (click)="speechRecognition.speak(activityToShow.description)">Lees</button>
            </div>
        </div>
    </div>

    <div class="left-side pb-5">
        <div class="left-sid-grid">
            <div class="comment-box">
                <textarea #textReaction id="reaction-activity" class="comment-box-input" placeholder="Typ hier uw reactie..."></textarea>
                <button class="button button--primary">Voeg toe aan mijn activiteiten</button>
                <button (click)="addNewReaction(selectedActivityId, textReaction.value)" class="button button--primary ml-4">Plaats reactie</button>

            </div>

            <div class="user-comments-box">
                <h2 class="user-comments-box-title">Reacties:</h2>
                <p *ngFor="let reaction of reactionsArray">
                    {{reaction.userName}}: {{reaction.textReaction}}
                </p>
            </div>
        </div>

    </div>

</div>

<ng-template #loading>
    <mat-icon class="rotate">rotate_right</mat-icon>
</ng-template>


