.container--grid{
    display: grid;
    grid-template-rows: 2fr .1fr;
}
.right-side-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    padding: 1rem;
}

.left-sid-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    padding: 1rem;
    margin: 0;
}

header {
    width: 100%;
    height: 250px;
    background-image: linear-gradient(to bottom, rgba(220,220,220,0.7) 0%,rgba(220,220,220,0.7) 100%),
    url("src/assets/Images/activityImage/wandeling.jpg");
    background-position: center;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: var(--font-h1);
    text-shadow: 0 0 20px white;
}

.activity-image-box {
    width: 100%;
    float: left;
    border-radius: var(--border-radius);
}

.activity-image {
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius);

}

.activity-description-title {
    font-weight: bold;
    font-size: var(--font-h2);
    margin-left: .5rem;
}

.activity-description p{
    padding-left: 1rem;
    font-size: var(--font-p);
    opacity: .5;
}
.activity-description {
    border: 1px solid var(--color-default);
    float: right;
    width: 100%;
    border-radius: var(--border-radius);
}

.comment-box {
    width: 100%;
    height: 100%;
}

.comment-box-title {
    font-weight: bold;
}

.comment-box-input {
    width: 100%;
    height: 100%;
    outline: none;
    padding-top: 10px;
    padding-bottom: 10px;
    text-indent: 8px;
    display: inline-block;
    border: 1px solid var(--color-default);
    border-radius: var(--border-radius);
    font-family: var(--font-family-text);
    font-size: var(--font-p);
    color: var(--color-black);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    resize: none;
}

.place-comment-button {
    height: 30%;
    width: 30%;
    float: right;
    border-radius: var(--border-radius);
    border: none;
}

.user-comments-box-title {
    font-weight: bold;
    margin-left: .5rem;
}

.user-comments-box {
    float: right;
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-default);
    border-radius: var(--border-radius);
}
.user-comments-box p{
    padding-left: 1rem;
    opacity: .5;
    margin: -5px;
}
@media only screen and (max-width: 48em){
    .right-side-grid{
        grid-template-columns: 1fr;
    }
    .left-sid-grid{
        grid-template-columns: 1fr;
    }
    .left-sid-grid  > div:nth-of-type(1){
        order: 1;
    }
}
