/*.navbar.navbar-expand-lg.navbar-light.bg-light {*/
/*    background-color: var(--color-default) !important;*/
/*}*/

/*#navbarNav {*/
/*    justify-content: flex-end;*/
/*    !*border-bottom: 2px solid gray;*!*/
/*    padding-bottom: 5px;*/
/*}*/

/*.nav-item {*/
/*    !*border: 2px solid black;*!*/
/*    border-radius: 7px;*/
/*    margin-left: 7px;*/
/*    background-color: var(--color-default);*/
/*}*/

/*.nav-item:nth-child(1) {*/

/*    border-radius: 7px;*/

/*}*/

/*.nav-link{*/
/*    color: black !important;*/
/*}*/

/*.nav-item .nav-link {*/
/*    color: white !important;*/
/*}*/
.icon-size {
    cursor: pointer;
    font-size: 50px;
    width: 50px;
    height: 50px;
    color: white;
}

nav {
    background-color: var(--color-default);
}
h2{
    font-style: italic;
    color: var(--white);
    margin: 0;
}

/*p {*/
/*    font-style: italic;*/
/*    color: var(--white);*/
/*    margin: 0;*/
/*}*/

/*.mic-company-name {*/
/*    display: grid;*/
/*    justify-items: center;*/
/*    !*border: .1rem solid var(--color-black);*!*/
/*    padding: .4rem;*/
/*}*/

/*.mic-company-name > div p {*/
/*    position: relative;*/
/*    bottom: .5rem;*/
/*}*/
#dropDown {
    background-color: var(--color-default);
}
