.navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: transparent !important;
}

#navbarNav {
    justify-content: flex-end;
    border-bottom: 2px solid gray;
    padding-bottom: 5px;
}

.nav-item {
    border: 2px solid black;
    border-radius: 7px;
    margin-left: 7px;
}

.nav-item:nth-child(1) {
    background-color: gray;
    border-radius: 7px;
    color: white;
}

.nav-link{
    color: black !important;
}

.nav-item:nth-child(1) .nav-link {
    color: white !important;
}
