.navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: transparent !important;
}

#navbarNav {
    justify-content: flex-end;
    border-bottom: 2px solid gray;
    padding-bottom: 5px;
}

.nav-item {
    border: 2px solid black;
    border-radius: 7px;
    margin-left: 7px;
    background-color: gray;
}

.nav-item:nth-child(1) {

    border-radius: 7px;

}

.nav-link{
    color: black !important;
}

.nav-item .nav-link {
    color: white !important;
}
