header {
    width: 100%;
    height: 30%;
    margin: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


header h1 {
    font-size: 70px;
    text-shadow: 0 0 20px white;
}

img{
    height: 350px;
    width: 100%;
}

.btn{
    float: left;
    margin: 1px;
    background-color: var(--color-default);
    border-color: var(--color-black);
    box-sizing: border-box;
}

.btn-primary:not(:disabled):not(.disabled).active{
    background-color: var(--color-blue);
}

.activity-overview {
    box-sizing: border-box;
}

.activity {
    float: right;
    border: 1px solid var(--color-default);
    padding: 0;
    margin-top: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px var(--color-default);
    max-width: 35%;
    border-radius: .25rem;
}

.activity:hover {
    transform: translateY(-10px);
    cursor: pointer;
    transition: .2s;
    border-color: var(--color-blue);
    box-shadow: 7px 7px 7px var(--color-default);
}

.card-title {
    padding: 5px;
    width: 100%;
    text-align: center;
    position: center;
    font-size: 25px;
}

.card-text{
    opacity: .5;
    padding: 5px;
}

.filterlist{
    margin: 10px;
    width: 25%;
    max-width: 25%;
    height: 100%;
    max-height: 100%;
    position: absolute;
}




.activitySearch{
    margin: 25px;
    margin-top: 0;
    max-width: 100%;
    position: center;
}

@media screen and (max-width: 800px) {
    .activity {
        max-width: 95%;
        float: top;
        position: center;
    }
    .filterlist{
        max-width: 100%;
        position: initial;
    }
}
