<header id="header">
    <h1>Alle activiteiten</h1>
</header>

<div class="activity-overview row-cols-1 row-cols-md-3">
    <div class="activitySearch">
        <label>
            <h1>Zoek Activiteit</h1>
        </label>
        <input type="search" class="form-control form-control-lg" placeholder="Zoek hier uw activiteit"
               [(ngModel)]="activitySearchText">
    </div>

    <div class="filterlist" id="filterlist">
        <h1>Filters:</h1>
        <button type="button" class="btn button--primary" data-toggle="button"
                *ngFor="let category of categoryArray">
            {{category}}
        </button>
    </div>
    <div class="activity col-2 mb-4" *ngFor="let activity of activityArray | filter: activitySearchText">
        <div class="card" id="{{activity.id}}">
            <img class="card-img-top" src="../../../../assets/Images/activityImage/{{activity.image}}"
                 alt="{{activity.activityTitle}}">
            <h4 class="card-title">
                {{ activity.activityTitle}}
            </h4>
            <p class="card-text">
                {{activity.description}}
            </p>
        </div>
    </div>
</div>
