<meta name="viewport" content="width=device-width, initial-scale=1.0">

<header id="header">
    <h1>Herfst</h1>
</header>

<div class="activity-overview">
    <div class="activity">
        <img class="activity-image" src="../../../../assets/Images/wandeling.jpg">
        <h4 class="activity-title">Wandeling</h4>
        <p class="activity-description">
            In de herfst komen de mooiste kleuren van de
            natuur naar buiten. Daarom is het de perfecte
            gelegenheid om met goed weer een wandeling te
            maken door bijvoorbeeld een bos.
        </p>
    </div>
    <div class="activity">
        <img class="activity-image" src="../../../../assets/Images/wandeling.jpg">
        <h4 class="activity-title">Wandeling</h4>
        <p class="activity-description">
            In de herfst komen de mooiste kleuren van de
            natuur naar buiten. Daarom is het de perfecte
            gelegenheid om met goed weer een wandeling te
            maken door bijvoorbeeld een bos.
        </p>
    </div>
</div>