<p>{{title}}</p>
<div *ngIf="adminService.userArray.length > 0">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Voornaam</th>
            <th>Achternaam</th>
            <th>Geboortedatum</th>
            <th>Geslacht</th>
            <th>Email</th>
            <th>Wahtwoord</th>
            <th>Profielfoto</th>
            <th>Type gebruiker</th>
            <th>Blokeer</th>
            <th>Verwijderen</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of adminService.userArray">
            <td>{{user.firstName | titlecase}}</td>
            <td>{{user.lastName | titlecase}}</td>
            <td>{{user.birthDate}}</td>
            <td>{{user.gender}}</td>
            <td>{{user.email | titlecase}}</td>
            <td>{{user.password}}</td>
            <td><img class="userProfile" src="{{user.profilePicture}}"></td>
            <td *ngIf="user.blocked;">
                <mat-icon class="icon-size align-middle mr-2">block</mat-icon>
                <button (click)="unBlockUser(user.email)" class="button--primary align-middle">Deblokkeer</button>
            </td>

            <td>

                <mat-icon *ngIf="user.admin" (click)="makeAnAdmin(user.email)" class="icon-size">admin_panel_settings</mat-icon>
                <button *ngIf="!user.admin" (click)="unBlockUser(user.email)" class="button--primary align-middle">Maak admin</button>

            </td>
            <td *ngIf="!user.blocked">
                <button *ngIf="!user.admin" (click)="blockUser(user.email)" class="button--primary">Blokkeer</button>
            </td>
            <td>
                <mat-icon *ngIf="!user.admin" (click)="deleteUser(user.email)" class="icon-size">delete</mat-icon>
            </td>
        </tbody>
    </table>
</div>
