*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white-smoke);
}

.aboutUs{
  background-size: 55%;
  background: var(--color-white-smoke) url("../../../assets/Images/pic.jpg") no-repeat left;
  overflow: hidden;
  padding: 100px 0;
}

.inner-container{
  width: 55%;
  float: right;
  background-color: var(--color-white-smoke);
  padding: 150px;
}

.inner-container h1{
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
}

@media screen and (max-width:1200px){
  .inner-container{
    padding: 80px;
  }
}

@media screen and (max-width:1000px){
  .aboutUs{
    background-size: 100%;
    padding: 100px 40px;
  }
  .inner-container{
    width: 100%;
  }
}

@media screen and (max-width:600px){
  .aboutUs{
    padding: 0;
  }
  .inner-container{
    padding: 60px;
  }
}
