
<div class="header">
  <h1>About Us</h1>
</div>
<div class="about">
  <div class="container">
      <div class="row">
<!--        <div class="col-md-4 hidden-sm hidden-xs">-->
<!--                <div class="textMenu">-->
<!--                  <h1>DagjeUit</h1>-->
<!--                  <ul>-->
<!--                    <li routerLink="/home">Home</li>-->
<!--                    <li routerLink="/register">Meld je aan bij DagjeUit</li>-->
<!--                    <li>Over DagjeUit</li>-->
<!--                    <li>Contact</li>-->
<!--                  </ul>-->
<!--                </div>-->
<!--        </div>-->
        <div class="col-md-8">
        <div class="col-md-12">
          <h1 class="title">
            DagjeUit.nl: De plek voor perfecte activiteiten
          </h1>
          <div class="text">

            <strong>Wat biedt onze website?</strong><br>
            Onze website DagjeUit.nl is een platform waar alle ouderen activiteiten kunnen presenteren en deelnemen.
            Je kunt in contact komen met ouderen die dezelfde interesses hebben als jij. Je kunt heel gemakkelijk
            deelnemen aan een activiteit. Deze website helpt de activiteiten dynamischer, actueler en overzichtelijker
            te maken. U kunt deelnemen aan activiteiten die in contact komen met uw interesses. Zo inspireert een website
            ouderen om in deze tijd zowel binnen als buiten activiteiten te ondernemen.
            Niet alleen kunt u deelnemen, maar u kunt ook nog eens een reactie plaatsen over wat u vond van de
            acitiviteit en of er bepaalde dingen anders moeten.

            <br><br>
            <strong>Waarom deze website?</strong><br>
            De Corona pandemie heeft de huidige samenleving veranderd. Onze fysieke, sociale en mentale welzijn staat
            onder druk. De impact van het virus en deverschillende maatregelen hebben effect op diverse aspecten en
            activiteiten in ons dagelijks leven. Leuke en gezonde activiteiten, zoals sport en bewegenzijnwel essentieel
            voor ons welbevinden. Uit onderzoek (zoalsgesprekken met fysio-en oefentherapeuten,
            GGD AmsterdamenVeiligheidNL) blijkt dat het vaak onduidelijk is welke activiteiten
            (in dit geval voor bewegen)er nu zijn, waar ouderen behoefte aan hebben en hoe een individuele oudere
            voorzien kan worden van een passend (beweeg)activiteitenaanbod. Het passend zijn van het activiteitenaanbod
            voor een individu hangt af van een veelheid factoren zoals de individuele voorkeuren (liever knutselen,
            zwemmen dan wandelen, competitief, of juist niet), de locatie, de aanwezigheid van digitale middelen, een
            aandoening (zoals diabetes of hartritmestoornis) of persoonskenmerken
            (zoals motivatie en subjectieve gezondheid) (Trost, 2002; Sallis, 2008).Een digitale oplossing zou kunnen
            helpen activiteiten (zowel on-en offline) meer dynamisch, up-to-date,overzichtelijken op maat aan te kunnen
            biedenen te delen.Dit is nu helemaal interessant aangezien de nieuwe 1,5msamenleving een bron van inspiratie
            lijkt om ook andere activiteiten op te pakken en uit te voeren, zoalsde beoefening van sport en lichamelijke
            en activiteiten op nieuwe digitale manierenals een onlinebeweegklas.
          </div>
        </div>
      </div>
      </div>
  </div>
</div>


