.header{
  background: url("../../../assets/Images/ouderenKaarten.jpg") no-repeat top;
  height: 250px;
  background-size: 100%;
}

.header h1{
  text-align: center;
  padding-top: 7%;
}

.textMenu{
  margin-top: 5rem;
  margin-left: 3rem;
}
.text{
  font-size: var(--font-p);
}
h1{
  font-size: var(--font-h1);
}
.title{
  font-size: var(--font-h2);
}

.container{
  margin-top: 2rem;
  box-shadow:
    inset 0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 2px rgb(255,255,255),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
}

/**
If you click on a word there is no border
And the cursor changes into a pointer(hand)
 */
li{
  border-style: none;
  cursor: pointer;
}

/**
When you go with you mouse over the word it change the color to grey
 */
li:hover{
  color: var(--color-default);
}

.row{
  justify-content: center;
}

.col-md-8{
  margin-top: 2rem;
  margin-bottom: 2rem;
}
