<header id="header" xmlns:filter="http://www.w3.org/1999/xhtml" xmlns:filter="http://www.w3.org/1999/xhtml">
    <h1>Alle activiteiten</h1>
</header>

<div class="activity-overview row-cols-1 row-cols-md-3" *ngIf="filteredActivityArray.length > 0 else loading">
    <div class="activitySearch">
        <label>
            <h1>Zoek Activiteit</h1>
        </label>
        <input type="search" class="form-control form-control-lg" placeholder="Zoek hier uw activiteit"
               [(ngModel)]="activitySearchText">
    </div>
    <p id="1"></p>

    <div class="filterlist " id="filterlist">
        <h1>Filters:</h1>
        <a class="btn-link" (click)="clearFilters()">leeg filters</a>

        <h4>Categoriën:</h4>
        <div class="custom-control custom-checkbox" *ngFor="let category of categoryArray">
            <input type="checkbox" class="custom-control-input" id="{{category.idCategory}}">
            <label class="custom-control-label" for="{{category.idCategory}}">{{category.name}}</label>
        </div>
        <button class="btn btn-primary" (click)="filterSearch()">Zoek</button>
    </div>

    <div class="activity col-2 mb-4" *ngFor="let activity of filteredActivityArray | filter: activitySearchText" routerLink="/activityDetails/{{activity.id}}">
        <div class="card" id="{{activity.id}}">
            <img class="card-img-top" src="{{activity.image}}"
                 alt="{{activity.title}}">
            <h4 class="card-title">
                {{ activity.title}}
            </h4>
            <p class="card-text">
                {{activity.description}}
            </p>
        </div>
    </div>
</div>
<ng-template #loading>
    <mat-icon class="rotate">rotate_right</mat-icon>
</ng-template>
