header {
    width: 100%;
    height: 30%;
    margin: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


header h1 {
    font-size: 70px;
    text-shadow: 0 0 20px white;
}

img{
    border-radius: var(--border-radius);
    max-height: 250px;
}

.btn{
    float: left;
    margin: 1px;
    background-color: var(--color-default);
    border-color: var(--color-black);
    box-sizing: border-box;
}

.button--primary:not(:disabled):not(.disabled).active{
    background-color: var(--color-blue);
}

.form-control{

}

.activity-overview {
    box-sizing: border-box;
    padding: .2rem;
    max-width: 100%;
}

.activity {
    float: right;
    border: 1px solid var(--color-default);
    padding: 0;
    margin-top: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px var(--color-default);
    max-width: 35%;
    border-radius: var(--border-radius);
    height: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;

}

.activity:hover {
    transform: translateY(-10px);
    cursor: pointer;
    transition: .5s;
    border-color: var(--color-blue);
    box-shadow: 7px 7px 7px var(--color-blue);
}

.card-title {
    padding: 5px;
    width: 100%;
    text-align: center;
    position: center;
    font-size: 25px;
}

.card-text{
    opacity: .5;
    padding: 5px;
}

/*.card-text:hover{*/
/*    font-size: 30px;*/
/*    line-height: 1.2;*/
/*    opacity: 1;*/
/*    border: 1px solid var(--color-default);*/
/*    transition: 1s;*/
/*}*/

.filterlist{
    margin: 10px;
    width: 25%;
    max-width: 25%;
    height: 100%;
    max-height: 100%;
    position: absolute;
    background-color: var(--color-default);
    padding: 25px;
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
}

#filterlist .btn-link {
    font-weight: bold;
    border: 2px solid black;
    border-radius: 8px;
    padding: 3px;
    color: #808080;
    background-color: black;
}

#filterlist .btn.btn-primary {
    background-color: #714015;
}

.activitySearch{
    margin: 25px;
    margin-top: 0;
    max-width: 100%;
    position: center;
}

.btn-link:hover{
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .activity {
        max-width: 95%;
        float: top;
        position: center;
    }
    .filterlist{
        max-width: 100%;
        position: initial;
    }
}
