.icon-size {
    cursor: pointer;
    font-size: 50px;
    width: 50px;
    height: 50px;
    color: white;
}

.cached-icon {
    animation: spin180 1s infinite;
}

@keyframes spin180 {
    100% {
        transform: rotate(-360deg);
    }
}
.dropdown-item:hover{
    background-color: var(--color-black);

}

nav {
    background-color: var(--color-default);
}

h2 {
    font-style: italic;
    color: var(--white);
    margin: 0;
}

#dropDown {
    background-color: var(--color-default);
}
