.icon-size {
    cursor: pointer;
    font-size: 50px;
    width: 50px;
    height: 50px;
    color: white;
}

nav {
    background-color: var(--color-default);
}
h2{
    font-style: italic;
    color: var(--white);
    margin: 0;
}

#dropDown {
    background-color: var(--color-default);
}
