<header id="header">
    <div class="backgroundCategoryPage" >
<!--        [ngStyle]="{'background-image': 'url(' + photo + ')'}"-->
<!--        <img src="../assets/Images/activityImage/{{activitiesOfCategory.image}}">-->
    </div>
    <h1>{{category}}</h1>
</header>

<div class="search-div">
    <input class="form-control" type="search" [(ngModel)]="searchtext"
           placeholder="Zoek hier naar activiteiten gerelateerd aan {{category}}">
    <mat-icon>search</mat-icon>
</div>

<div class="activity-overview row-cols-1 row-cols-md-3">
    <div class="activity col-2 mb-4" *ngFor="let activity of activityArray | filter: category | filter: searchtext" routerLink="/activityDetails/{{activity.id}}">
        <img class="card-img-top" src="../../../../assets/Images/activityImage/{{activity.image}}"
             alt="{{activity.activityTitle}}">
        <h4 class="card-title">
            {{ activity.activityTitle}}
        </h4>
        <p class="card-text">
            {{activity.description}}
        </p>
    </div>
</div>
