header {
  width: 100%;
  height: 30%;
  /*background-image: linear-gradient(to bottom, rgba(220,220,220,0.7) 0%,rgba(220,220,220,0.7) 100%),*/
  /*url("src/assets/Images/fall background.jpg");*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  margin: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
}


header h1 {
  font-size: 70px;
  text-shadow: 0 0 20px white;
}

img{
  size: auto;
}

.activity-overview {
  box-sizing: border-box;
  padding: .2rem;
  max-width: 100%;
}

.activity {
  float: left;
  border: 1px solid var(--color-default);
  padding: 0;
  margin: 15px;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  max-width: 31%;
  box-shadow: 5px 5px 5px var(--color-default);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
  height: 500px;
}

.activity:hover {
  transform: translateY(-10px);
  cursor: pointer;
  transition: .2s;
  border-color: var(--color-blue);
  box-shadow: 7px 7px 7px var(--color-blue);
}

.card-img-top{
  border-radius: var(--border-radius);
  max-height: 250px;
}

.card-title {
  padding: 5px;
  width: 100%;
  text-align: center;
  position: center;
}

.card-text{
  opacity: .5;
  padding: 5px;
  /*max-height: 50px;*/
}

.form-control{
  max-width: 99%;
  margin: 10px;
}
.search-div{
  display: grid;
  grid-template-columns: 3fr .1fr;
  align-items: center;
  padding: 1rem;
}
.search-div
@media screen and (max-width: 767px) {
  .activity {
    max-width: 90%;
  }
}
