<header id="header" style="background-image: linear-gradient(to bottom, rgba(220,220,220,0.7) 0%,rgba(220,220,220,0.7) 100%),
    url('../../../../assets/Images/activityImage/{{categoryObject.image}}')">
    <div class="backgroundCategoryPage" >
<!--        [ngStyle]="{'background-image': 'url(' + photo + ')'}"-->
<!--        <img src="../assets/Images/activityImage/{{activitiesOfCategory.image}}">-->
    </div>
    <h1>{{categoryTitle}}</h1>
</header>

<div class="search-div">
    <input class="form-control" type="search" [(ngModel)]="searchText"
           placeholder="Zoek hier naar activiteiten gerelateerd aan {{categoryTitle}}">
    <mat-icon>search</mat-icon>
</div>

<div class="activity-overview row-cols-1 row-cols-md-3">
    <div class="activity col-2 mb-4" *ngFor="let activity of activityArray | filter: categoryTitle | filter: searchText" routerLink="/activityDetails/{{activity.id}}">
        <img class="card-img-top" src="../../../../assets/Images/activityImage/{{activity.image}}"
             alt="{{activity.activityTitle}}">
        <h4 class="card-title">
            {{ activity.activityTitle}}
        </h4>
        <p class="card-text">
            {{activity.description}}
        </p>
    </div>
</div>
