<div class="container-fluid">
  <div class="form-inline" role="form">

    <label>
      <select class="form-control form-control-lg" style="padding-right: 3rem">
        <input id="categorieën" placeholder="Categorieën">
        <option>Categorie 1</option>
        <option>Categorie 2</option>
        <option>Categorie 3</option>
        <option>Categorie 4</option>
      </select>
    </label>

    <label>
      <select class="form-control form-control-lg" style="padding-right: 3rem">
        <input id="eigenschap" placeholder="Eigenschap">
        <option>Eigenschap 1</option>
        <option>Eigenschap 2</option>
        <option>Eigenschap 3</option>
        <option>Eigenschap 4</option>
      </select>
    </label>

    <label>
      <select class="form-control form-control-lg" style="padding-right: 3rem">
        <input id="provincies" placeholder="Provincie">
        <option>Provincie 1</option>
        <option>Provincie 2</option>
        <option>Provincie 3</option>
        <option>Provincie 4</option>
      </select>
    </label>

    <label for="example-date-input">
      <input class="form-control form-control-lg" type="date" id="example-date-input">
    </label>

  </div>
</div>

