.container-fluid{
  background-color: darkgrey;
  padding: 1rem;
}


.form-inline{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.searchBar{
  width: 50%;
  margin: 25px auto;
}




